{%- if site.mermaid_enable -%}
<script type="text/javascript" src="/js/mermaid/current/mermaid.min.js"></script>
<script type="text/javascript">
  (function(){
    // Initial mermaid
    mermaid.init({startOnLoad:true}, "pre code.language-mermaid", function(){
      // Change <pre> and <code> block style
      var codeBlock = document.querySelector('code.language-mermaid');
      var preBlock = codeBlock.parentNode;

      codeBlock.style.backgroundColor = 'initial';
      var gLabels = Array.from(document.querySelectorAll('code.language-mermaid g.label'))
      gLabels.forEach(function(gLabel){gLabel.style.color = 'blue'})
      preBlock.style.border = 'none';
      preBlock.style.textAlign = 'center';
      preBlock.style.backgroundColor = 'initial';
    });
  })()
</script>
{%- endif -%}
